.user-chats {
  width: 40%;
}

@media screen and (min-width: 901px) and (max-width: 1024px) {
  .user-chats {
    width: 35%;
  }
}
@media screen and (min-width: 1025px) {
  .user-chats {
    width: 30%;
  }
}
.chat-container {
  overflow: hidden;
  max-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(56px, max-content) 1fr minmax(56px, max-content);
  gap: 0px 0px;
  grid-template-areas:
    "chat-header"
    "messages"
    "input-container";
}

.chat-header {
  grid-area: chat-header;
}

.messages {
  max-height: max-content;
  grid-area: messages;
}

.input-container {
  grid-area: input-container;
}

.welcome {
  grid-column: span 1;
  grid-row: span 3;
}
