@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply dark:bg-slate-800;
}

.app-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    "header"
    "main";
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}
