@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-slate-800;
}

::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(156 163 175 / 0.5) transparent;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-400/50;
}

body {
  overflow-y: hidden !important;
}

.app-container {
  height: 100vh;
  width: 100vw;
}

:root {
  --dark-menu-trigger-bg-main: #047857; /* Emerald 700*/
  --menu-trigger-bg-main: #bbf7d0; /* Emerald 700*/
  --dark-menu-trigger-bg-secondary: #334155; /* White */
  --menu-trigger-bg-secondary: #ffffff; /* Slate 700*/
  --menu-trigger-bg: transparent;
}
.dark .dark\:menu-trigger-bg-main {
  --menu-trigger-bg: var(--dark-menu-trigger-bg-main);
}
.menu-trigger-bg-main {
  --menu-trigger-bg: var(--menu-trigger-bg-main);
}
.dark .dark\:menu-trigger-bg-secondary {
  --menu-trigger-bg: var(--dark-menu-trigger-bg-secondary);
}
.menu-trigger-bg-secondary {
  --menu-trigger-bg: var(--menu-trigger-bg-secondary);
}

.menu-trigger-bg {
  background: linear-gradient(
    to left bottom,
    var(--menu-trigger-bg) 0%,
    var(--menu-trigger-bg) 80%,
    transparent 100%
  );
}
